<h1 mat-dialog-title>{{ data?.title }}</h1>
<br />
<mat-dialog-content>
  <form [formGroup]="alumnoForm" (submit)="onSave()">
    <mat-form-field class="full-width" appearance="outline">
      <mat-label>Nombre</mat-label>
      <input type="text" formControlName="nombre" matInput />
      <mat-error>
        {{ baseForm.getErrorMessage(alumnoForm.get('nombre')) }}
      </mat-error>
    </mat-form-field>

    <mat-form-field class="full-width" appearance="outline">
      <mat-label>Apellidos</mat-label>
      <input type="text" formControlName="apellidos" matInput />
      <mat-error>
        {{ baseForm.getErrorMessage(alumnoForm.get('apellidos')) }}
      </mat-error>
    </mat-form-field>

    <mat-form-field class="full-width" appearance="outline">
      <mat-label>No. Control</mat-label>
      <input type="text" formControlName="numero_control" matInput />
      <mat-error>
        {{ baseForm.getErrorMessage(alumnoForm.get('numero_control')) }}
      </mat-error>
    </mat-form-field>

    <mat-form-field class="full-width" appearance="outline">
      <mat-label>Email</mat-label>
      <input type="email" formControlName="correo" matInput />
      <mat-error>
        {{ baseForm.getErrorMessage(alumnoForm.get('correo')) }}
      </mat-error>
    </mat-form-field>

    <mat-form-field class="full-width" appearance="outline">
      <mat-label>Username</mat-label>
      <input type="text" formControlName="username" matInput />
      <mat-error>
        {{ baseForm.getErrorMessage(alumnoForm.get('username')) }}
      </mat-error>
    </mat-form-field>

    <mat-form-field class="full-width" appearance="outline">
      <mat-label>Password</mat-label>
      <input type="password" formControlName="password" matInput />
      <mat-error>
        {{ baseForm.getErrorMessage(alumnoForm.get('password')) }}
      </mat-error>
    </mat-form-field>

    <div align="center">
      <button mat-flat-button color="primary" [disabled]="alumnoForm.invalid" type="submit">
        <mat-icon>save</mat-icon>
        {{ titleButton }}
      </button>
      <button mat-flat-button color="warn" (click)="onClear()" type="button">
        <mat-icon>clear</mat-icon>
        Limpiar
      </button>
    </div>
  </form>
</mat-dialog-content>

<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>
    <mat-icon>close</mat-icon>
    Cerrar
  </button>
</mat-dialog-actions>
