
// Include theming for Angular Material with `mat.theme()`.
// This Sass mixin will define CSS variables that are used for styling Angular Material
// components according to the Material 3 design spec.
// Learn more about theming and how to use it for your application's
// custom components at https://material.angular.dev/guide/theming
@use '@angular/material' as mat;
@import '@angular/material/prebuilt-themes/indigo-pink.css';


html, body { height: 100%; }

body { margin: 0; font-family: Roboto,
"Helvetica Neue", sans-serif; }

.error-snackbar {
background-color: darkred;
color: white;
}

.success-snackbar {
background-color: • darkgreen;
color: white;
}

.full-width { 
width: 100%;
}

.mat-mdc-snack-bar-container.snackbar-success {
  --mdc-snackbar-container-color: #2e7d32;
  --mdc-snackbar-supporting-text-color: #fff;
  --mat-snack-bar-button-color: #fff;
}

.mat-mdc-snack-bar-container .mdc-snackbar__label {
  opacity: 1 !important;
}